


body 
{
font-family: 'Inter', sans-serif;
background: #FFFFFF;
margin: 0px;
padding: 0px;

}
.contenedor
{
    width: 100%;
    height: 100vh;
}

.colordefondodiv
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100vh;
    background: #FFF2E8;
}

.contenedor-imagen
{
    position: absolute;
    margin: 20px 0px 0px 60px;
    width: 716px;
    height: 861px;
    z-index: 1;
}
.contenedorlogo
{
    display: flex;
    justify-content: center;
    height: 200px;
}

.contenedor-inputs
{
    position: absolute;
    width: 320px;
    height: 322px;
    left: 890px;
    top: 344px;
}


.formulario
{
    position: absolute;
    align-items: center;
    top: 0px;
    right: 0px;
    width: 50%;
    height: 100vh;
}

.form_metod
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.usuario
{
    display: flex;
    flex-direction: column;
    width: 320px;
}
.lb_controls
{
    position: relative;
    padding: 0px 0px 8px 0px;
}

.usr_nomb
{
    position: relative;
    height: 44px;
    padding-left: 32px;
    border-color: rgb(214, 214, 214);
    border-style: solid;
    border-radius: 3px;
    outline: #FFF2E8;
    margin-bottom: 56px;
    box-shadow: 0px 2px 5px rgba(103, 110, 118, 0.08), 0px 0px 0px 1px rgba(103, 110, 118, 0.16), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

form .usuario input::placeholder
{
    color: #9EA5AD
}

form .contra input::placeholder
{
    color: #9EA5AD
}

.contra
{
    display: flex;
    flex-direction: column;
    width: 320px;
}

.btn_ingresar
{
    position: relative;
    width: 122px;
    height: 44px;
    padding-right: 35px;
    border-radius: 8px;
    background-color: #FFFFFF;
    border-color: rgb(214, 214, 214);
    border-style: double;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0px 2px 5px rgba(103, 110, 118, 0.08), 0px 0px 0px 1px rgba(103, 110, 118, 0.16), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.usr_contra
{
    position: relative;
    height: 44px;
    padding-left: 32px;
    margin-bottom: 56px;
    border-color: rgb(214, 214, 214);
    border-style: solid;
    border-radius: 3px;
    outline: #FFF2E8;
    box-shadow: 0px 2px 5px rgba(103, 110, 118, 0.08), 0px 0px 0px 1px rgba(103, 110, 118, 0.16), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.contenedor-titulos
{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    position: relative;
    height: 200px;
}

.Titulo
{
    position: absolute;
    font-size: 60px;
    font-weight: bold;
    color: #000000;
}

.Subtitulo
{
    margin-top: 115px;
    position: absolute;
    font-size: 20px;
    margin-bottom: 56px;
    font-weight: 500;
    color: #9EA5AD
}

.candado_icon
{
    position: absolute;
    margin-top: 38px;
    margin-left: 5px;
    height: 24px;
    width: 24px;
    z-index: 1;
}

.usr_icon
{
    position: absolute;
    margin-top: 38px;
    margin-left: 5px;
    height: 24px;
    width: 24px;
    z-index: 1;
}
.ingrese_icon
{
    position: absolute;
    margin-top: 268px;
    margin-left: 60px;
    height: 18px;
    width: 18px;
    z-index: 1;
}

